::selection {
  background: #87CEEB;
}

.element-container:nth-of-type(1) button:hover {
	background-color: CornflowerBlue;
	color: white;
	box-shadow: 2px 3px 5px #888;
}

.element-container:nth-of-type(1) button:active {
	background-color: red;
	color: white;
	text-decoration-line: underline;
	transform: translateY(4px); 
}

.element-container:nth-of-type(1) button:not(:hover) {
	background-color: #F0FFF0;
	color: black;	
}

.element-container:nth-of-type(1) button:focus {
	background-color: CornflowerBlue;
	color: white;
	box-shadow: 2px 3px 5px #888;	
}

.element-container:nth-of-type(1) input:hover {
	background-color: #87CEEB;
	text-align: center;	
	color: white;
}

.element-container:nth-of-type(1) input:active {
	text-decoration-line: underline; 
	text-align: center;
	color: white;
}

.element-container:nth-of-type(1) input:not(:hover) {
	background-color: #FFFFF0;
	text-align: center; 
}

.element-container:nth-of-type(1) input:focus {
	background-color: #87CEEB;
	text-align: center;	
	color: white;
}










